body{
    /* /* background-color: pink; */
    font-family: 'Plus Jakarta Sans', sans-serif !important; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* page should include 100% height and then remaining include footer */
}
.container{
    flex: 1;
    /* it container means body occupy whole diplay flex flex dir- col min height 100 means it will occupy whole page and footer will stick at last */
}
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
    /* !important is for we ovverride the bootstrap stylling bootstrap styling not imp */
}
.f-info-links a{
    color: #222222;
    text-decoration: none;

}
.f-info-links a:hover{
   text-decoration: underline;
    
    
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: space-evenly;
}
.f-info-links,.f-info-socials,.info-brand{
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i{
    margin-left: 1rem;
    font-size: 1.2rem;
}
/* card styling */
.listing-card{
    margin-bottom: 2rem;
    border: none !important;
}
.card-img-top{
    border-radius: 2rem !important;
    width: 100%;
    object-fit: cover;
}
.card-body{
    padding: 0px !important;
}
.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}
/* card effect */
.card-img-overlay:hover{
    background-color:white;
    opacity: 0.2;

}
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}
/* show page */
.show-img{
    height: 30vh;
}
.btns{
    display: flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}
/* map styling */
/* #map { position: absolute; top: 0; bottom: 0; width: 100%; }; */
/* when we have to display map on whole page */


#map{
    height: 400px;
    width: 80vh;
}
