<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <%= successMsg %>
    <%= errorMsg %>
    <!-- after refrashing thise message dosent display thise is the key feature of connect-flash -->
    <h1>Hello! <%= name %></h1>
</body>
</html>